.advantages {
  @include reset;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__titles {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.advantages__title {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include reset;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    @include reset;

    font-size: 50px;
    line-height: 60px;
  }
}

// временно
.advantages__title2 {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include reset;
    padding: 0 20px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    @include reset;

    font-size: 50px;
    line-height: 60px;
    padding: 0 110px;
  }
}

// -----------------

.advantages__title:last-child {
  @include reset;
}

.advantages__wrapper {
  padding-top: 80px;

  position: relative;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;

    max-width: none;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 85px;
    margin-bottom: 0;
    padding-bottom: 67px;

    display: flex;
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;

    padding-top: 32px;

    background: linear-gradient(to left top, transparent 50%, $white 50%) right / 100.025% 100.025% no-repeat;

    top: 0;
    left: 0;
    right: 0;

    z-index: 0;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 90px;
    }
  }

  &::after {
    content: "";
    margin: 0 auto;

    display: block;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    width: 157px;
    height: 280px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages__list {
  @include reset;

  z-index: 1;

  list-style: $list-style;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 10px;
    margin-top: -90px;
    width: 620px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-size: 268px 481px;
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    width: 960px;

    background: none;
  }
}

.advantages__item {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}

.advantages__subtitle {
  @include reset;
  padding-bottom: 11px;

  font-size: 18px;

  color: #000000;

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__text {
  @include reset;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    @include reset;
    padding-bottom: 54px;
    display: block;
  }
}

.advantages__effect-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 60px;
    margin-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    padding-bottom: 67px;
    max-width: none;

    background-color: $background-gray;
  }
}

.advantages__effect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 660px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    align-items: flex-start;
  }
}

.advantages__icon-timer {
  position: relative;

  @media (min-width: $tablet-width) {
    @include reset;
    padding-right: 70px;
    width: 238px;
    height: 276px;

    fill: $timer-gray;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 55px;

      border: 14px solid $dark-pink;
      border-radius: 50%;
      width: 202px;
      height: 202px;

      box-sizing: border-box;
    }

    &::after {
      content: "24";
      position: absolute;
      left: 67px;
      top: 50%;

      font-size: 96px;
      font-weight: 700;
      color: $dark-pink;
    }
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;

    &::before {
      content: "";
      left: 23px;
      top: 69px;

      border-width: 17px;
      width: 253px;
      height: 253px;
    }

    &::after {
      content: "24";
      left: 80px;
      top: 176px;

      font-size: 120px;
    }
  }
}

.advantages__svg-timer {
  @media (min-width: $desktop-width) {
    padding-right: 60px;
    width: 238px;
    height: 276px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
    width: 298px;
    height: 345px;
  }
}

.advantages__effect-description {
  @media (min-width: $tablet-width) {
    @include reset;
    width: 310px;

    text-align: left;

    list-style: $list-style;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 93px;
  }
}

.advantages__effect-title {
  @media (min-width: $tablet-width) {
    @include reset;

    padding-bottom: 10px;
    padding-right: $mobile-paddings;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
    line-height: 30px;
  }
}

.advantages__text--link {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 10px;
    color: $dark-pink;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}
