.advantages {
  @include reset;
}

.advantages__titles {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.advantages__title {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include reset;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    @include reset;

    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__title:last-child {
  @include reset;
}

.advantages__wrapper {
  padding-top: 80px;

  position: relative;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;

    max-width: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;

    display: flex;
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;

    padding-top: 32px;

    background: linear-gradient(to left top, transparent 50%, $white 50%) right / 100.025% 100.025% no-repeat;

    top: 0;
    left: 0;
    right: 0;

    z-index: 0;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 90px;
    }
  }

  &::after {
    content: "";
    margin: 0 auto;

    display: block;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    width: 157px;
    height: 320px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages__list {
  @include reset;

  z-index: 1;

  list-style: $list-style;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 0;
    margin-top: -90px;
    width: 620px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-size: 268px 481px;
    background-repeat: no-repeat;
    background-position: left bottom;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    width: 960px;

    background: none;
  }
}

.advantages__item {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 292px;

    text-align: center;
  }
}

.advantages__subtitle {
  @include reset;
  padding-bottom: 11px;

  font-size: 18px;

  color: #000000;

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__text {
  @include reset;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    @include reset;
    padding-bottom: 56px;
    display: block;
  }
}
