.banner {
  @include reset;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -67px;

  background-color: $dark-blue;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-y: -108px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    min-height: 394px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position-y: 0;
  }
}

.banner__header {
  padding-top: 35px;
  min-height: 170px;

  @media (min-width: $tablet-width) {
    padding-top: 72px;

    min-height: 330px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 170px;

    min-height: 394px;
    width: 960px;
  }
}

.banner__wrapper {
  width: 320px;

  padding-bottom: 30px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 110px;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 108px;
    width: 660px;

    display: flex;
    flex-direction: column;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }

  @media (min-width: $desktop-width) {
    padding-top: 217px;
    padding-bottom: 120px;
    width: 960px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-x: 27px;
  }
}

.banner__inner {
  padding-top: 25px;
  padding-bottom: 315px;

  @media (min-width: $tablet-width) {
    @include reset;
    width: 300px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}
