.button {
  display: block;
  border: 3px solid $white;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;

  color: $white;

  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $dark-pink;
  }

  &:active {
    background-color: $white;
    color: $light-pink;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.button--green {
  width: 100%;

  border: none;
  border-radius: 5px;

  line-height: 30px;
  text-transform: uppercase;


  background-color: $light-green;

  &:hover {
    background-color: $dark-green;
    color: $white;
  }
}

.button--form {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
