.container {
  @include reset;
  @include section-paddings;
  margin: 0 auto;

  box-sizing: border-box;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: $desktop-paddings;
    padding-right: $desktop-paddings;
  }
}
