.contacts {
  @include reset;
  @include section-paddings;

  padding-top: 40px;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin: 0 auto;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 940px;
  }
}

.contacts__header {
  @include reset;
  margin: 0 auto;
  margin-bottom: 38px;

  width: 280px;
}

@media (min-width: $tablet-width) {
  .contacts__header {
    width: 500px;
  }
}

.contacts__title {
  @include reset;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  @include reset;
  list-style: $list-style;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
  }
}

.contacts__item {
  @include reset;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 240px;
}

@media (min-width: $tablet-width) {
  .contacts__item {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    width: 25%;
  }
}

.contacts__text {
  @include reset;

  font-weight: 700;
  font-size: 18px;

  color: $dark-blue;
}

.contacts__link {
  @include page-title;

  color: $dark-pink;
}
