.contacts {
  @include reset;
  @include section-paddings;

  padding-top: 40px;

  background-color: $white;
}

.contacts__title {
  @include reset;
  padding-bottom: 38px;
}

.contacts__item {
  @include reset;
  margin-bottom: 28px;
}

.contacts__item--header {
  @include reset;
}

.contacts__text {
  @include reset;

  font-weight: 700;
  font-size: 18px;

  color: $dark-blue;
}

.contacts__link {
  @include page-title;

  color: $dark-pink;
}
