.download {
  padding-top: 30px;

  // background-color: $dark-blue;

  color: $white;

  @media (min-width: $tablet-width) {
    @include reset;

    background-color: transparent;

    position: relative;

    z-index: 1;
  }
}

.download__links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 35px;
  }
}

.download__link {
  @include section-paddings;
}

.download__text {
  @include reset;

  @media (min-width: $tablet-width) {
    @include reset;
    font-size: 18px;
  }
}
