.download {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $dark-blue;

  font-family: ("Open Sans light", Arial, sans-serif);

  color: $white;
}

.download__links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 28px;
  padding-left: 37px;
  padding-right: 37px;
}
