.download {
  padding-top: 30px;

  color: $white;

  @media (min-width: $tablet-width) {
    @include reset;
    width: 300px;

    background-color: transparent;

    position: relative;

    z-index: 1;
  }
}

.download__links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 50px;
  }
}

.download__link {
  @include section-paddings;
}

.download__text {
  @include reset;

  font-weight: 300;

  @media (min-width: $tablet-width) {
    @include reset;
    font-size: 18px;
  }
}
