.form {
  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  @include reset;
  @include section-paddings;
  padding-top: 42px;
  padding-bottom: 42px;
  margin-left: -($mobile-paddings);
  margin-right: -($mobile-paddings);

  box-sizing: border-box;

  border: 0;

  text-align: left;

  position: relative;

  @media (min-width: $tablet-width) {
    @include reset;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 65px;

    border: 2px solid $light-gray;
    border-radius: 3px;
  }
}

.form__fieldset--gray {
  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.form__fieldset--name {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    @include reset;
    margin-bottom: 65px;
    order: 1;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.form__fieldset--achievement {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 10px;
  }
}

.form__fieldset--contacts {
  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__fieldset--platform {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.form__fieldset--emotions {
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__list {
  @include reset;

  list-style: $list-style;
}

.form__list--name {
  @media (min-width: $tablet-width) {
    @include reset;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__list--checkboxes {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 230px;
  }
}

.form__item {
  padding-bottom: 20px;

  position: relative;
}

.form__item:last-child {
  padding-bottom: 0;
}

.form__item--style-2 {
  padding-bottom: 40px;
}

.form__item--name {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;

    padding-bottom: 55px;
  }
}

.form__item--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;

    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    width: 375px;
  }
}

.form__title {
  color: $dark-pink;
  line-height: 18px;
  text-transform: uppercase;

  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: 50%;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    white-space: nowrap;

    padding-left: 32px;
    padding-right: 32px;
  }
}

.form__title--style-2 {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form__title--contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form__label {
  @include reset;
  @include section-paddings;

  text-transform: uppercase;

  line-height: 30px;

  color: $dark-pink;

  position: relative;
}

.form__label--contacts {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.form__text {
  font-size: 18px;
  line-height: 30px;
}

.form__input {
  @include section-paddings;
  box-sizing: border-box;
  width: 100%;

  padding-top: 14px;
  padding-bottom: 14px;

  border: 2px solid $light-gray;
  border-radius: 3px;

  position: relative;
}

.form__input-icon {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 3px;

    background: $light-gray;
    width: 62px;
    height: 62px;
  }
}

.form__input-icon--phone {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__input-icon--mail {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__textarea {
  margin-top: 16px;
  min-height: 200px;

  resize: vertical;
}

.form__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    order: 6;
  }
}

.form__text-footer {
  @include reset;
  padding-top: 34px;

  font-weight: 300;
  text-transform: uppercase;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    @include reset;
  }
}

.form__text-footer--red {
  color: $dark-pink;
}

.form__radio {
  position: absolute;
  top: 14px;
  left: 14px;
}

.form__radio + .form__text--radio {
  position: relative;
  display: block;
  padding-left: 69px;
  padding-top: 5px;
  padding-bottom: 4px;
  cursor: pointer;
}

.form__radio + .form__text--radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-width: 2px;
  border-style: solid;
  border-color: $light-gray;
  border-radius: 50%;
  background-color: $white;
}

.form__radio + .form__text--radio::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.form__radio:checked + .form__text--radio::after {
  background-color: $dark-pink;
}

.form__radio:focus + .form__text--radio::before {
  border-color: $dark-blue;
}

.form__checkbox {
  position: absolute;
  top: 14px;
  left: 14px;
}

.form__checkbox + .form__text--checkbox {
  position: relative;
  display: block;
  padding-left: 69px;
  padding-top: 5px;
  padding-bottom: 4px;
  cursor: pointer;
}

.form__checkbox + .form__text--checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-width: 2px;
  border-style: solid;
  border-color: $light-gray;
  border-radius: 3px;
  background-color: $white;
}

.form__checkbox + .form__text--checkbox::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.form__checkbox:checked + .form__text--checkbox::after {
  width: 8px;
  height: 20px;
  border: solid $dark-pink;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.form__checkbox:focus + .form__text--checkbox::before {
  border-color: $dark-blue;
}
