.form {
  @include reset;

  background-color: $white;
}

.form__fieldset {
  @include reset;
  @include container;
  margin-left: (-$mobile-paddings);
  margin-right: (-$mobile-paddings);
  margin-bottom: 25px;

  border: 0;
}

.form__fieldset--gray {
  background-color: $background-gray;
}

.form__list {
  @include reset;

  text-align: left;
}

.form__item {
  padding-bottom: 17px;
}

.form__title {
  @include reset;
  @include section-paddings;
  padding-top: 36px;
  padding-bottom: 36px;

  text-transform: uppercase;

  line-height: 18px;

  color: $dark-pink;
}

.form__title--last {
  padding-top: $mobile-paddings;
  padding-bottom: $mobile-paddings;
}

.form__label {
  padding-left: $mobile-paddings;
  text-transform: uppercase;

  line-height: 30px;

  color: $dark-pink;
}

.form__label--dark {
  @include reset;

  position: relative;

  color: $dark-blue;
}

.form__text {
  box-sizing: border-box;
  width: 100%;

  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid $light-gray;
  border-radius: 3px;
}

.form__submit {
  padding-bottom: 30px;
}

.form__svg {
  position: absolute;
  display: block;
  top: 5px;
  left: 9px;
  fill: $dark-pink;
}

// .form__radio {
//   width: 12px;
//   height: 12px;
//   border: 3px solid $white;
//   background: $gray;
//   border-radius: 50%;
//   display: inline-block;
//   padding: 0;
// }

// .slider__toggle--active {
//   background: $white;
//   border: 3px solid $dark-blue;
// }
