.forms {
  @include reset;
  margin: 0 auto;

  width: 320px;

  box-sizing: border-box;

  background-color: $white;

  @media (min-width: $tablet-width) {
    @include reset;
    margin: 0 auto;

    width: 620px;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    margin: 0 auto;

    width: 940px;
  }
}
