.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  @include reset;

  margin-bottom: 25px;

  border: 0;

  position: relative;

  @media (min-width: $tablet-width) {
    @include reset;
    margin-bottom: 65px;

    border: 1px solid $light-gray;
  }
}

.form__fieldset--gray {
  padding-top: 110px;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    background: none;
  }
}

.form__fieldset--name {
  @media (min-width: $tablet-width) {
    order: 1;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.form__fieldset--achievement {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__fieldset--contacts {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__fieldset--add {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.form__fieldset--emotions {
  @media (min-width: $tablet-width) {
    padding-top: 47px;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__list {
  @include reset;
  @include section-paddings;

  text-align: left;

  list-style: $list-style;
}

.form__list--name {
  @media (min-width: $tablet-width) {
    @include reset;
  }
}

.form__item {
  padding-bottom: 17px;
}

.form__item--name {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

.form__legend {
  text-transform: uppercase;

  line-height: 18px;

  color: $dark-pink;

  position: absolute;
  top: 42px;

  @media (min-width: $tablet-width) {
    margin-left: 50%;

    position: absolute;
    top: 0;

    transform-origin: center;
    transform: translateY(-50%);

    white-space: nowrap;
  }
}

.form__legend--contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form__legend--emotions {
  top: 17px;

  // @media (min-width: $tablet-width) {
  //   display: block;
  // }
}

.form__title {
  padding-left: 40px;
  padding-right: 40px;
  width: 320px;

  display: block;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: pink;
  }
}

.form__label {
  @include reset;
  @include section-paddings;

  text-transform: uppercase;

  line-height: 30px;

  color: $dark-pink;

  position: relative;
}

.form__input {
  box-sizing: border-box;
  width: 100%;

  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid $light-gray;
  border-radius: 3px;
}

.form__button {
  @include section-paddings;

  @media (min-width: $tablet-width) {
    @include reset;
    width: 100%;

    display: flex;
    justify-content: space-between;

    order: 6;
  }
}

.form__button--form {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form__svg {
  position: absolute;
  display: block;
  top: 5px;
  left: 9px;
  fill: $dark-pink;
}

.form__radio {
  display: none;
}

.form__label--radio {
  position: relative;
  display: block;
  padding-left: 69px;
  padding-top: 5px;
  padding-bottom: 4px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: $light-gray;
    border-radius: 50%;
    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $dark-pink;
  }
}
