.gallary {
  @include reset;
  @include section-paddings;
  margin: 0 auto;
  margin-bottom: 40px;

  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    min-width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-paddings;
    padding-right: $desktop-paddings;

    min-width: 940px;
  }
}

.gallary__item {
  @include reset;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  // max-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    // width: 100%;
    max-width: 700px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    // width: 100%;
    max-width: 1200px;
  }
}

.gallary__image {
  @include reset;
  margin-left: (-$mobile-paddings);
  margin-right: (-$mobile-paddings);

  min-height: 137px;

  @media (min-width: $tablet-width) {
    min-height: 509px;
  }

  @media (min-width: $desktop-width) {
    margin-left: (-$desktop-paddings);
    margin-right: (-$desktop-paddings);

    min-height: 506px;
  }
}

.gallary__image-flag {
  @include reset;
  @include section-paddings;
  padding-top: 13px;
  padding-bottom: 14px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;

  background-color: $dark-pink;

  text-transform: uppercase;

  color: $white;

  @media (min-width: $tablet-width) {
    top: 57px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.gallary__description {
  @include reset;
  box-sizing: border-box;

  margin: 0 auto;

  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;
  padding-top: $mobile-paddings;
  padding-bottom: $mobile-paddings;

  position: relative;

  text-align: left;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.gallary__author {
  font-weight: 700;
  font-style: normal;
}

.gallary__time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.gallary__text {
  @include reset;
  padding-bottom: 10px;
}

.gallary__likes {
  @include reset;
  padding-left: 30px;

  font-size: 12px;
  text-transform: uppercase;
  color: $dark-pink;

  background-image: url("../img/icon-heart.svg");
  background-position-x: 0;
  background-position-y: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 23px;
    right: 20px;
  }
}
