.main-nav {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__logo-image {
  display: block;
  padding-top: 22px;
  padding-bottom: 25px;

  background: url("../img/logo-pink-white-mobile.svg");
  width: 75px;
  height: 22px;
  background-repeat: no-repeat;
  background-position-y: center;

  @media (min-width: $tablet-width) {
    background: url("../img/logo-pink-white-tablet.svg");
    padding-top: 27px;
    padding-bottom: 41px;
    width: 147px;
    height: 40px;
    background-repeat: no-repeat;
    background-position-y: 25px;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    background: url("../img/logo-pink-white-desktop.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.main-nav__list {
  @include reset;
  margin-left: (-$mobile-paddings);
  margin-right: (-$mobile-paddings);

  list-style: $list-style;

  @media (min-width: $desktop-width) {
    @include reset;
  }
}

.main-nav__toggle {
  @include reset;

  position: absolute;
  top: 22px;
  right: 20px;

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle--open {
  display: none;
  width: 51px;
  height: 26px;

  border: none;
  background: none;

  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}

.main-nav__toggle--close {
  width: 24px;
  height: 24px;

  border: none;
  background: none;

  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
}
