.main-nav__wrapper {
  @include reset;
  display: flex;
  justify-content: space-between;

  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav__toggle--close {
  display: none;
}
