.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.page-footer__wrapper {
  @include reset;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer--mobile-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__logo {
  display: block;

  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include reset;
  }
}

.page-footer__image {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  @include reset;
  padding-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: $list-style;

  @media (min-width: $tablet-width) {
    @include reset;
  }
}
