.page-footer {
  display: none;
}


.page-footer__logo {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
