.page-title {
  @include reset;
  @include page-title;
  @include section-paddings;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.page-title--index {
  @include reset;
  @include section-paddings;
  padding-top: 90px;
  padding-bottom: 315px;

  color: $white;

  @media (min-width: $tablet-width) {
    @include reset;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    padding-bottom: 50px;

    font-size: 50px;
    line-height: 60px;
  }
}

.page-title--white {
  color: $white;
}
