.photo-editor {
  padding-top: $mobile-paddings;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
  }
}

.photo-editor__form {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.photo-editor__image {
  padding-bottom: 42px;
  width: auto;

  @media (min-width: $tablet-width) {
    @include reset;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 90px;
  }
}

.photo-editor__toggls {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
  }
}

.photo-editor__toggls-wrapper {
  margin-left: (-$mobile-paddings);
  margin-right: (-$mobile-paddings);

  border-bottom: 1px solid $medium-gray;

  @media (min-width: $tablet-width) {
    @include reset;
    border: 0;
  }
}

.photo-editor__effects {
  padding-bottom: 75px;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: $list-style;

  position: relative;

  @media (min-width: $tablet-width) {
    @include reset;
    width: auto;
    flex-direction: column;
  }
}

.photo-editor__effect {
  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;

  @media (min-width: $tablet-width) {
    @include reset;
    min-width: 100%;
    height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $medium-gray;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.photo-editor__effect:checked {
  @include reset;
}

.photo-editor__range {
  @include reset;
  display: none;
  position: absolute;
  bottom: 30px;
  left: 40px;

  width: calc(100% - 80px);

  @media (min-width: $tablet-width) {
    display: block;
    position: static;

    width: 80%;
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 294px;
    margin-right: 30px;
  }
}

input:checked ~ .photo-editor__range {
  display: block;
}

/* СбРОС ДЕФОЛТНЫХ СТИЛЕЙ */
input[type="range"] {
  -webkit-appearance: none;
}

/* WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  border: 2px solid $dark-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  margin-top: -7px;
  /* Указать значение для поля в Chrome, в Firefox и IE это происходит автоматически */
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: $dark-blue;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  border: 2px solid $dark-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;

  input[type="range"]::-moz-range-track {
    height: 2px;
    background: $dark-blue;
  }
}

/* IE */
input[type="range"]::-ms-track {
  cursor: pointer;
  height: 2px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-thumb {
  border: 2px solid $dark-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: $dark-blue;
}

input[type="range"]::-ms-fill-upper {
  background: $dark-blue;
}

.photo-editor__svg {
  display: block;

  fill: $gray;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 50%;
    fill: $dark-pink;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 100%;
  }

  &:hover {
    fill: $dark-pink;
  }
}

input[radio]:checked {
  fill: $dark-pink;
}

.photo-editor__svg--active {
  fill: $dark-pink;
}

.photo-editor__buttons {
  @include reset;
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include reset;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-editor__button {
  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.photo-editor__button:first-child {
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.photo-editor__submit {
  border: 3px solid $dark-pink;
  color: $dark-pink;

  &:hover {
    background-color: $dark-pink;
    color: $white;
  }

  &:active {
    color: $superdark-pink;
  }
}

.photo-editor__reset {
  border: 3px solid $medium-gray;
  background-color: $background-gray;

  color: $medium-gray;

  &:hover {
    border: 3px solid $gray;
    color: $gray;
  }

  &:active {
    background-color: $gray;
    color: $light-gray;
  }
}
