.price {
  @include reset;
  padding-top: 90px;
  padding-bottom: 45px;

  position: relative;

  background-color: $background-gray;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 147px;
    padding-bottom: 95px;
  }

  &::before {
    content: "";
    position: absolute;

    padding-top: 32px;

    background: linear-gradient(to left top, transparent 50%, #ffffff 50%) right / 100.025% 100.025% no-repeat;

    top: 0;
    left: 0;
    right: 0;

    z-index: 0;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 90px;
    }
  }
}

.price__tables {
  @include reset;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    width: 620px;

    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
