.price {
  @include reset;
  padding-top: 63px;
  padding-bottom: 48px;

  background-color: $background-gray;
}

.price__tables {
  @include reset;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    width: 620px;

    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
