.reviews {
  margin-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.reviews__people {
  @media (min-width: $tablet-width) {
    padding-bottom: 35px;

    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    @include reset;
    padding-left: 120px;
    padding-right: 120px;

    position: relative;
  }
}

.reviews__about {
  display: none;

  @media (min-width: $tablet-width) {
    @include reset;
    display: block;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__name {
  @include reset;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: #000000;

  @media (min-width: $tablet-width) {
    @include reset;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__text {
  @include reset;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 36px;
  }
}

.reviews__svg-quotes {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;

    @include reset;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 50px;
    width: 79px;
    height: 63px;

    fill: $quotes-gray;
  }
}
