.site-list {
  @media (min-width: $desktop-width) {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }
}

.site-list__link {
  display: block;

  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid $black;
  border-bottom: 1px solid $light-blue;

  &:hover {
    color: $dark-pink;
  }

  &:active {
    color: $superdark-pink;
  }

  @media (min-width: $desktop-width) {

    border: 0;
  }
}
