.slider {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 940px;
  }
}

.slider__list {
  @include reset;
  padding-bottom: 34px;

  list-style: $list-style;

  @media (min-width: $tablet-width) {
    @include reset;
  }
}

.slider__item--mobile-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slider__list--scroll {
  overflow: hidden;
}

.slider__toggles {
  @include reset;

  line-height: 0;
}

.slider__toggles--prices {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  margin-right: 5px;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  border: 3px solid $white;
  background: $gray;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
}

.slider__toggle--active {
  background: $white;
  border: 3px solid $dark-blue;
}

.slider__toggles--reviews {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__arrows {
  display: none;

  @media (min-width: $desktop-width) {
    @include reset;
    display: block;

    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .slider__arrow {
    position: absolute;
    bottom: 123px;
    display: block;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
  }

  .slider__arrow--next {
    right: $desktop-paddings;
    transform: rotate(45deg);
    border-top: 2px solid $arrows-gray;
    border-right: 2px solid $arrows-gray;
  }

  .slider__arrow--prev {
    left: $desktop-paddings;
    transform: rotate(45deg);
    border-bottom: 2px solid $arrows-gray;
    border-left: 2px solid $arrows-gray;
  }
}
