
.contacts {
  @include reset;
  @include section-paddings;

  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  margin-bottom: 170px;
  margin-top: -15px;

  background-color: #ffffff;
}

.contacts__item {
  @include reset;
  margin-bottom: 28px;
}

.contacts__item--heder {
  @include reset;
  margin-bottom: 37px;
}

.contacts__text {
  @include reset;
  font-weight: 700;
  font-size: 18px;
  color: #283645;
}

.contacts__link {
  font-size: 24px;
  color: #d22856;
}
