@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin font-base () {
  font-family: $opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  text-align: center;
  line-height: 24px;

  color: $dark-blue;
}

@mixin section-paddings () {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin page-title () {
  font-family: $opensans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;

  text-align: center;
  line-height: 1em;
}

@mixin container {
  @include reset;
  @include section-paddings;
  margin: 0 auto;

  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    width: 640px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 960px;
    padding-left: $desktop-paddings;
    padding-right: $desktop-paddings;
  }
}

// @media (min-width: $tablet-width) {}

// @media (min-width: $desktop-width) {}
