.photo {
  @include section-paddings;
}

.photos-list__item {
  text-align: left;
}

.photos-list__author {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.photos-list__time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.photo-description {
  @include section-paddings;
  background-color: #f2f2f2;
}

.photos-list__likes {
  padding-left: 30px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d22856;

  background-image: url(../img/icon-heart.svg);
  background-position-x: 0;
  background-position-y: center;
  background-repeat: no-repeat;
}

