.price {
  background-color: #f2f2f2;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.price__list {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

.price__value {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;

  text-transform: uppercase;

  background-color: #283645;
}

.price__value--numeral {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.price__item--yes {
  background-image: url(../img/icon-yes.svg);
  background-repeat: no-repeat;
}

.price__item--no {
  background-image: url(../img/icon-no.svg);
  background-repeat: no-repeat;
}
