$opensans: "Open Sans", arial, sans-serif;

$list-style: none;

// colors
$white: #ffffff;
$black: #000000;

$light-blue: #485461;
$dark-blue: #283645;

$superdark-pink: #5d344c;
$dark-pink: #d22856;
$light-pink: #f1becc;

$dark-gray: #8d949b;
$gray: #b5b9be;
$medium-gray: #dddfe0;
$light-gray: #e5e5e5;
$background-gray: #f2f2f2;

$light-green: #2aab6d;
$dark-green: #1c9b5e;

$mobile-paddings: 20px;
$desktop-paddings: 10px;

$tablet-width: 660px;
$desktop-width: 1200px;
